*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #F3DCC1;
    --fox-color: #F5E3CC ;
    --bee-color: #F5EEB6;
    --turtle-color: #C7E4C1 ;
    --spacing: 8px;
    --font-size: 1rem;
}



.containercarousel {
    width: 80%;
    margin:20px auto;
  }
  .carousel {
    border: 2px solid #416be4;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .slidercarousel {
    display: flex;
    height: 100%;
    width: 400%;
  }
  .slidercarousel section {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
  }
  .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .arrow i {
    font-size: 70px;
    -webkit-user-select: none;
    color: #416be4;
  }
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
  .controlcarousel ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
  }
  .controlcarousel ul li {
    width: 10px;
    height: 10px;
    background: #333;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
  }
  .controlcarousel ul li.selected {
    background: transparent;
  }