*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #F3DCC1;
    --fox-color: #F5E3CC ;
    --bee-color: #F5EEB6;
    --turtle-color: #C7E4C1 ;
    --spacing: 8px;
    --font-size: 1rem;
}

/* CSS caroussel */
.reviews {
  background: rgb( 197, 239, 199 );
  background-size:auto;
}

.containercarousel {
    width: 80%;
    margin:20px auto; 
    
  }
  .carousel {
    border: 2px solid #fad584fd;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: rgb(197, 239, 199);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .slidercarousel {
    display: flex;
    height: 100%;
    width: 400%;
  }
  .slidercarousel section {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1rem;
  }

  .profil1 img{
  height: 50%;
  width: 50%;
  border-radius: 50%;
  contain: content;
    }
  .profil2 img{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    }
  .profil3 img{
    height: 50%;
  width: 50%;
  border-radius: 50%;
    }
  .profil4 img{
    height: 50%;
    width: 50%;
    border-radius: 50%;
  }
    .profil1 {
      max-height: 85%;
      display: flex;
      flex-direction: column;
     align-items: center;
     text-align: center;
    }

    .profil2 {
      max-height: 85%;
      display: flex;
      flex-direction: column;
     align-items: center;
     text-align: center;
    }

    .profil3 {
      max-height: 85%;
      display: flex;
      flex-direction: column;
     align-items: center;
     text-align: center;
    }

    .profil4 {
      max-height: 85%;
      max-width: 85%;
      display: flex;
      flex-direction: column;
     align-items: center;
     text-align: center;
    }

/*CSS des bouttons du caroussel*/
  .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
  .controlcarousel ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
  }
  .controlcarousel ul li {
    width: 10px;
    height: 10px;
    background: #333;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
  }
  .controlcarousel ul li.selected {
    background: transparent;
  }